# Rust build artifacts
/target/
Cargo.lock

# Debian packaging results
*.deb
*.tar.gz
*.dsc
*.changes
*.buildinfo

# Arch packaging results
*.pkg.tar.zst

# Linux system/Editor swap files
*~
*.swp
.fuse_hidden*
.directory
.Trash-*

# Editor-specific
.vscode/
.idea/
